.Map {
  width: 100vw;
  height: 100%;
}

.Picker {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  
}

.Geo {
  display: block;
}

.Dist {
  color: azure;
  font-weight: 500;
  margin-left: 0.5em;
  font-size: 1rem;
}

.Pick {
  margin:0.5em 0.1em 0.5em 0;
  
}

.Pick input {
  padding:0.2em;
  text-align: center;
  max-width: 50vw;
  min-width: 20vw;
}